<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<title>Reporter</title>
		<style>
			body
			{
				background-color: WhiteSmoke;
				border: 0.5px solid black;
			}
		</style>
	</head>
	<body class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="/">News Portal</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link"  data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home" role="button">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  data-toggle="collapse" href="/manageNews" aria-expanded="false" aria-controls="top10" role="button">My News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  data-toggle="collapse" href="/login" aria-expanded="false" aria-controls="top10" role="button">Log In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  data-toggle="collapse" href="/logout" aria-expanded="false" aria-controls="top10" role="button">Log Out</a>
					</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</nav>
		<form action="/addNews" method="POST">
			<div class="form-group">
				<h1>News Reporter</h1>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="News Title" name="title">
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="5" placeholder="News Description" name="desc"></textarea>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input type="date" class="form-control" placeholder="News Date" name="date">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<input type="date" class="form-control" placeholder="Created At" name="created_at">
					</div>
				</div>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
				</div>
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="news_img" name="news_img" aria-describedby="inputGroupFileAddon01">
					<label class="custom-file-label" for="news_img">Choose file</label>
				</div>
			</div>
			<div class="form-group">
				<select name="select_type" class="form-control">
					<option value="Business">Business</option>
					<option value="General">General</option>
					<option value="Auto">Auto</option>
					<option value="Tech">Tech</option>
					<option value="Legal">Legal</option>
					<option value="Crime">Crime</option>
					<option value="National">National</option>
					<option value="International">International</option>
					<option value="Lifestyle">Lifestyle</option>
					<option value="Art">Art</option>
					<option value="Entertainment">Entertainment</option>
					<option value="Sports">Sports</option>
					<option value="Legal">Legal</option>
				</select>
			</div>
			<input type="hidden" name="status" value="pending">
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-block">Add News</button>
			</div>
		</form>
		<div class="table-responsive table-hover">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Index</th>
						<th scope="col">Image</th>
						<th scope="col">Title</th>
						<th scope="col">Body</th>
						<th scope="col">Category</th>
						<th scope="col">Date fo Happen</th>
						<th scope="col">Date of create</th>
						<th scope="col">Status</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<news.length; i++) {%>
						<tr>
							<td><%= i+1 %></td>
							<td><%= news[i].news_img %></td>
							<td><%= news[i].title %></td>
							<td><%= news[i].desc %></td>
							<td><%= news[i].select_type %></td>
							<td><%= news[i].date %></td>
							<td><%= news[i].created_at %></td>
							<td><%= news[i].status %></td>
							<td><button type="button" class="btn btn-primary">Edit</button></td>
							<td><button type="button" id="deleteNews" class="btn btn-danger">Delete</button></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<footer class="bg-dark text-white mt-4">
			<center><div class="col-md-3">Online News Portal @<script>var year = new Date();document.write(year.getFullYear());</script></div></center>
		</footer>
	</body>
</html>