<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>Show News</title>
        <style>
            body
            {
                background-color: WhiteSmoke;
                border: 0.5px solid black;
            }
        </style>
	</head>
	<body class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">News Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link"  data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home" role="button">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="collapse" href="#top10" aria-expanded="false" aria-controls="top10" role="button">Top 10</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="collapse" href="/login" aria-expanded="false" aria-controls="top10" role="button">Log In</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <center><h1>News Home</h1></center>
            <div class="row">
                <% for(var i=0; i<news.length; i++) {%>
                    <div class="col-md-4">
                        <div class="card mb-3">
                                <img src="http://localhost:3000/public/user-male-icon.png" class="card-img-top" alt="Images by Raghav">
                                <div class="card-body">
                                    <h5 class="card-title"><%= news[i].title %></h5>
                                    <p class="card-text"><%= news[i].desc %></p>
                                    <p class="card-text"><small class="text-muted">Category:-<%= news[i].select_type %> Happened At:-<%= news[i].date %> Uploaded At:- <%= news[i].created_at %></small></p>
                                </div>
                            </div>
                    </div>
                <% } %>
            </div>
        </div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <footer class="bg-dark text-white mt-4">
            <center><div class="col-md-3">Online News Portal @<script>var year = new Date();document.write(year.getFullYear());</script></div></center>
        </footer>
    </body>
</html>